In [5]:
import pymysql

connInfo = {
    'host': 'localhost',
    'port': 3306,
    'user': 'root',
    'passwd': 'root',
    'db': 'TESTDB',
    'charset': 'utf8mb4'
}

In [6]:
conn = pymysql.connect(**connInfo)

In [7]:
cursor = conn.cursor()

In [10]:
cursor.execute("SELECT * FROM Staff")

0

In [11]:
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('001', 'Mike', '002', 45, 'M', 60000, '2020-04-24 14:59:57');
"""

cursor.execute(sql)

1

In [12]:
conn.commit()

In [13]:
cursor.execute("SELECT * FROM Staff")

1

In [14]:
cursor.fetchall()

(('001',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 4, 24, 14, 59, 57)),)

In [15]:
cursor.fetchall()

()

In [16]:
cursor.execute("DELETE FROM Staff")

1

In [17]:
conn.commit()

In [19]:
import json
import time

path = 'Staff.json'
with open(path, 'r', encoding='utf-8') as f:
    jsondata = json.loads(f.read())

jsondata

{'001': {'ID': '001',
  'Name': 'Mike',
  'DeptId': '002',
  'Age': '45',
  'Gender': 'M',
  'Salary': '60000'},
 '002': {'ID': '002',
  'Name': 'Judy',
  'DeptId': '002',
  'Age': '30',
  'Gender': 'F',
  'Salary': '48000'},
 '003': {'ID': '003',
  'Name': 'Allen',
  'DeptId': '001',
  'Age': '22',
  'Gender': 'M',
  'Salary': '50000'},
 '004': {'ID': '004',
  'Name': 'Tom',
  'DeptId': '002',
  'Age': '47',
  'Gender': 'M',
  'Salary': '47000'},
 '005': {'ID': '005',
  'Name': 'Jack',
  'DeptId': '003',
  'Age': '36',
  'Gender': 'M',
  'Salary': '52000'},
 '006': {'ID': '006',
  'Name': 'Abby',
  'DeptId': '002',
  'Age': '24',
  'Gender': 'F',
  'Salary': '45000'},
 '007': {'ID': '007',
  'Name': 'Trump',
  'DeptId': '001',
  'Age': '80',
  'Gender': 'M',
  'Salary': '80000'},
 '008': {'ID': '008',
  'Name': 'Marry',
  'DeptId': '003',
  'Age': '29',
  'Gender': 'F',
  'Salary': '87000'}}

In [20]:
import time
t = time.strftime('%Y-%m-%d %H:%M:%S', time.localtime())
values = [tuple(jsondata[d].values()) + (t,) for d in jsondata]
values

[('001', 'Mike', '002', '45', 'M', '60000', '2021-11-06 15:14:55'),
 ('002', 'Judy', '002', '30', 'F', '48000', '2021-11-06 15:14:55'),
 ('003', 'Allen', '001', '22', 'M', '50000', '2021-11-06 15:14:55'),
 ('004', 'Tom', '002', '47', 'M', '47000', '2021-11-06 15:14:55'),
 ('005', 'Jack', '003', '36', 'M', '52000', '2021-11-06 15:14:55'),
 ('006', 'Abby', '002', '24', 'F', '45000', '2021-11-06 15:14:55'),
 ('007', 'Trump', '001', '80', 'M', '80000', '2021-11-06 15:14:55'),
 ('008', 'Marry', '003', '29', 'F', '87000', '2021-11-06 15:14:55')]

In [21]:
sql_insert = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES (%s, %s, %s, %s, %s, %s, %s);
"""

In [22]:
cursor.executemany(sql_insert, values)

8

In [23]:
conn.commit()

In [24]:
cursor.close()

In [25]:
conn.close()